@{
    ViewData["Title"] = "Add/Edit";
}


@*@model List<TaskResponse>*@

<div style="margin: 20px">
    <table class="table table-bordered table-striped" style="margin-bottom: 200px;">
        <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Task</th>
                <th scope="col">Due Date</th>
                <th scope="col">Completed</th>
            </tr>
        </thead>

        @*<tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Category</td>
                    <td>@x.Task</td>
                    <td>@x.DueDate</td>
                    <td>@x.Completed</td>

                    <td><a asp-controller="Home" asp-action="Edit" asp-route-applicationid="@x.MovieID" class="btn btn-info" style="color: white;">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-applicationid="@x.MovieID" class="btn btn-danger">Delete</a></td>
                </tr>
            }
        </tbody>*@
    </table>
</div>